{% extends 'base.html' %}

{% block title %}{{ category.name }} | {{ block.super }}{% endblock %}


{% block content %}
{% load static %}

  <!-- =========={ MAIN }==========  -->
  <main id="content">
    <!-- advertisement -->
    <div class="bg-gray-50 py-4 hidden">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="mx-auto table text-center text-sm">
          <a class="uppercase" href="#">Advertisement</a>
          <a href="#">
            <img src="src/img/ads/ads_728.jpg" alt="advertisement area">
          </a>
        </div>
      </div>
    </div>

    <!-- block news -->
    <div class="bg-gray-50 py-6">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
          <!-- Left -->
          <div class="flex-shrink max-w-full w-full lg:w-2/3  overflow-hidden">
            <div class="w-full py-3">
              <h2 class="text-gray-800 text-2xl font-bold">
                <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>{{ category.name }}
              </h2>
            </div>
            <div class="flex flex-row flex-wrap -mx-3">
              <div class="flex-shrink max-w-full w-full px-3 pb-5">
                <div class="relative hover-img max-h-98 overflow-hidden">
                  <!--thumbnail-->
                  {% for news_item in news_in_category %}
                    {% if news_item.category.name == category.name %}
                      {% if forloop.first %}
                        <a href="{% url 'news_detail' news_item.slug %}">
                          <img class="max-w-full w-full mx-auto h-auto" src="{{ news_item.photo_one }}" alt="{{ news_item.title }}">
                        </a>
                        <div class="absolute px-5 pt-8 pb-5 bottom-0 w-full bg-gradient-cover">
                          <!--title-->
                          <a href="{% url 'news_detail' news_item.slug %}">
                            <h2 class="text-3xl font-bold capitalize text-white mb-3">{{ news_item.title }}</h2>
                          </a>                                              
                          <!-- author and date -->
                          <div class="pt-2">
                            <div class="text-gray-100"><div class="inline-block h-3 border-l-2 border-red-600 mr-2"></div>{{ category.name }}</div>
                          </div>
                        </div>
                </div>
              </div>
            
              {% else %}
              {% if forloop.counter < 20 %}
                <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                  <div class="flex flex-row sm:block hover-img">
                    <a href="{% url 'news_detail' news_item.slug %}">
                      <img class="max-w-full w-full mx-auto" src="{{ news_item.photo_one }}" alt="alt title">
                    </a>
                    <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                      <h3 class="text-lg font-bold leading-tight mb-2">
                        <a href="{% url 'news_detail' news_item.slug %}">{{ news_item.title }}</a>
                      </h3>
                      <p class="hidden md:block text-gray-600 leading-tight mb-1"></p>
                      <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>{{ category.name }}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
              </div>
            </div>
          <!-- right -->
          <div class="flex-shrink max-w-full w-full lg:w-1/3 lg:pl-8 lg:pt-14 lg:pb-8 order-first lg:order-last">
            <div class="w-full bg-white">
              <div class="mb-6">
                <div class="p-4 bg-gray-100">
                  <h2 class="text-lg font-bold">En Populer Haberler</h2>
                </div>
                <ul class="post-number">
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MusicNews1.html">Foo Fighters, Dave Grohl'un Kızı Violet'in Olduğu Yeni Şarkıyı Yayınladı</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="TechNews1.html">Kullanıcılara Müjde: Google Play Games PC Türkiye'de erişime açıldı</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="AnimeNews1.html">Spy x Family Family 2. Sezon Ne zaman Gelecek?</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="GamingNews1.html">Naughty Dog Gecikmeyi Duyurdu</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews1.html">Ocak 2023’te açlık sınırı 8.782 TL, yoksulluk sınırı 30.379 TL!</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="text-sm py-6 sticky">
              <div class="w-full text-center">
                <a class="uppercase" href="#">Reklam</a>
                <a href="https://www.youtube.com/shorts/vGBFyz4WiZA">
                  <img class="mx-auto" src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/306274562/original/d969c09d0b8f72b593f0914da5e247a84a54ca8f/design-mouth-watering-restaurant-food-menu-flyer-poster-brochure-fb-insta-ads.png" alt="advertisement area">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main><!-- end main -->


{% endblock %}