{% extends 'base.html' %}


{% block content %}
  <!-- =========={ MAIN }==========  -->
  <main id="content">
    <!-- advertisement -->
    <div class="bg-gray-50 py-4 hidden">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="mx-auto table text-center text-sm">
          <a class="uppercase" href="#">Reklam</a>
          <a href="https://youtu.be/TMmDebW_OBI">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/hand-sanitizer-and-products-supermarket-ad-design-template-40742be6ad3780a0f54958ccd94e9cdb_screen.jpg?ts=1586345554" alt="advertisement area" width="">
          </a>
        </div>
      </div>
    </div>
    
    <!-- hero big grid -->
    <div class="bg-white py-6">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
          <!-- big grid 1 -->
          <div class="flex flex-row flex-wrap">
              <!-- Start left cover for the first category -->
              {% for news_item in latest_news_by_category %}
                  {% if forloop.first %}
                      <div class="flex-shrink max-w-full w-full lg:w-1/2 pb-1 lg:pb-0 lg:pr-1">
                          <div class="relative hover-img max-h-98 overflow-hidden">
                              <a href="{% url 'news_detail' news_item.slug %}">
                                  <img class="max-w-full w-full mx-auto h-auto" src="{{ news_item.photo_one }}" alt="Image description">
                              </a>
                              <div class="absolute px-5 pt-8 pb-5 bottom-0 w-full bg-gradient-cover">
                                  <a href="{% url 'news_detail' news_item.slug %}">
                                      <h2 class="text-3xl font-bold capitalize text-white mb-3">{{ news_item.title }}</h2>
                                  </a>
                                  <p class="text-gray-100 hidden sm:inline-block"></p>
                                  <div class="pt-2">
                                      <div class="text-gray-100">
                                          <div class="inline-block h-3 border-l-2 border-red-600 mr-2"></div>
                                          {{ news_item.category.name }}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}
              <!-- End left cover for the first category -->

              <!-- Start box news for other categories -->
              <div class="flex-shrink max-w-full w-full lg:w-1/2">
                  <div class="box-one flex flex-row flex-wrap">
                      {% for news_item in latest_news_by_category %}
                          {% if not forloop.first %}
                              <article class="flex-shrink max-w-full w-full sm:w-1/2">
                                  <div class="relative hover-img max-h-48 overflow-hidden">
                                      <a href="{% url 'news_detail' news_item.slug %}">
                                          <img class="max-w-full w-full mx-auto h-auto" src="{{ news_item.photo_one }}" alt="Image description">
                                      </a>
                                      <div class="absolute px-4 pt-7 pb-4 bottom-0 w-full bg-gradient-cover">
                                          <a href="{% url 'news_detail' news_item.slug %}">
                                              <h2 class="text-lg font-bold capitalize leading-tight text-white mb-1">{{ news_item.title }}</h2>
                                          </a>
                                          <div class="pt-1">
                                              <div class="text-gray-100">
                                                  <div class="inline-block h-3 border-l-2 border-red-600 mr-2"></div>
                                                  {{ news_item.category.name }}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                          {% endif %}
                      {% endfor %}
                  </div>
              </div>
              <!-- End box news for other categories -->
          </div>
      </div>
    </div>



    <!-- block news -->
    <div class="bg-white">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
          <!-- Left -->
          <div class="flex-shrink max-w-full w-full lg:w-2/3 overflow-hidden">
            <div class="w-full py-3">
              <h2 class="text-gray-800 text-2xl font-bold">
                <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>Müzik
              </h2>
            </div>
            <div class="flex flex-row flex-wrap -mx-3">
              {% for news_item in music_news %}
                <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                  <div class="flex flex-row sm:block hover-img">
                    <a href="{% url 'news_detail' news_item.slug %}">
                      <img class="max-w-full w-full mx-auto" src="{{ news_item.photo_one }}" alt="alt title">
                    </a>
                    <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                      <h3 class="text-lg font-bold leading-tight mb-2">
                        <a href="{% url 'news_detail' news_item.slug %}">{{ news_item.title }}</a>
                      </h3>
                      <p class="hidden md:block text-gray-600 leading-tight mb-1"></p>
                      <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>{{ news_item.category.name }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <!-- right -->
          <div class="flex-shrink max-w-full w-full lg:w-1/3 lg:pl-8 lg:pt-14 lg:pb-8 order-first lg:order-last">
            <div class="w-full bg-gray-50 h-full">
              <div class="text-sm py-6 sticky">
                <div class="w-full text-center">
                  <a class="uppercase" href="#">Reklam</a>
                  <a href="https://youtu.be/TMmDebW_OBI">
                    <img class="mx-auto" src="https://image.adsoftheworld.com/knm3aji6nvhsp10l6tli6eogr49c" alt="advertisement area" width="450">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- slider news -->
    <div class="relative bg-gray-50" style="background-image: url('src/img/bg.jpg');background-size: cover;background-position: center center;background-attachment: fixed">
      <div class="bg-black bg-opacity-70">
        <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex-shrink max-w-full w-full py-12 overflow-hidden">
              <div class="w-full py-3">
                <h2 class="text-white text-2xl font-bold text-shadow-black">
                  <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>Tech News
                </h2>
              </div>
              <div id="post-carousel" class="splide post-carousel">
                <div class="splide__track">
                  <ul class="splide__list">
                    {% for news_item in tech_news %}
                    <li class="splide__slide">
                      <div class="w-full pb-3">
                        <div class="hover-img bg-white">
                          <a href="{% url 'news_detail' news_item.slug %}">
                            <img class="max-w-full w-full mx-auto" src="{{ news_item.photo_one }}" alt="{{ news_item.title }}">
                          </a>
                          <div class="py-3 px-6">
                            <h3 class="text-lg font-bold leading-tight mb-2">
                              <a href="{% url 'news_detail' news_item.slug %}">{{ news_item.title }}</a>
                            </h3>
                            <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>{{ news_item.category.name }}</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- block news -->
    <div class="bg-white py-6">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
          <div class="flex-shrink max-w-full w-full overflow-hidden">
            <div class="w-full py-3">
              <h2 class="text-gray-800 text-2xl font-bold">
                <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>Oyun
              </h2>
            </div>
            <div class="flex flex-row flex-wrap -mx-3">
              {% for news_item in game_news %}
              <div class="flex-shrink max-w-full w-full sm:w-1/3 lg:w-1/4 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="{% url 'news_detail' news_item.slug %}">
                    <img class="max-w-full w-full mx-auto" src="{{ news_item.photo_one }}" alt="{{ news_item.title }}">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="{% url 'news_detail' news_item.slug %}">{{ news_item.title }}</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">{{ news_item.summary }}</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>{{ news_item.category.name }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- block news -->
    <div class="bg-gray-50 py-6">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
          <!-- Left -->
          <div class="flex-shrink max-w-full w-full lg:w-2/3  overflow-hidden">
            <div class="w-full py-3">
              <h2 class="text-gray-800 text-2xl font-bold">
                <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>Anime
              </h2>
            </div>
            <div class="flex flex-row flex-wrap -mx-3">
              <div class="flex-shrink max-w-full w-full px-3 pb-5">
                <div class="relative hover-img max-h-98 overflow-hidden">
                  <!--thumbnail-->
                  <a href="AnimeNews1.html">
                    <img class="max-w-full w-full mx-auto h-auto" src="https://www.animefantastica.com/wp-content/uploads/Spy-x-Family-1.jpg" alt="Image description">
                  </a>
                  <div class="absolute px-5 pt-8 pb-5 bottom-0 w-full bg-gradient-cover">
                    <!--title-->
                    <a href="AnimeNews1.html">
                      <h2 class="text-3xl font-bold capitalize text-white mb-3">Spy x Family Family 2. Sezon Ne zaman Gelecek?</h2>
                    </a>                                              
                    <!-- author and date -->
                    <div class="pt-2">
                      <div class="text-gray-100"><div class="inline-block h-3 border-l-2 border-red-600 mr-2"></div>Anime</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews2.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/VW_LxM4tt-o/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews2.html">The Rising of the Shield Hero Animesinin 3. Sezonunun Teaser'ı İlk Gösteriminin Ekim Ayında Yapılacağını Duyurdu</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Serinin resmi İngilizce Twitter hesabı videonun ingilizce altyazılı versiyonunu yayınladı ayrıca Crunchyroll'un seriyi Ekim ayında yayınlayacağı doğrulandı.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews3.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/XoXvsSuPqFw/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews3.html">Bleach Thousand Year Blood War Part 2 Ne Zaman Devam Edecek?</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Bleach Thousand Year Blood War Part 2 tarihi daha Bleach Sennen Kessen-hen anime serisinin partlara bölünerek karşımıza çıkacağı açıklamasından beri merak ediliyordu.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews4.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/DQp71pChp4s/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews4.html"> My Hero Academia Animesi Romi Park İle 7. Sezonuna Kavuşuyor</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">My Hero Academia animesinin 6. sezonu, 7. sezonun yapımına yeşil ışık verildiğini duyuran bir fragmanla cumartesi günü sona erdi.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews5.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/HXgQMWqBhZs/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews5.html">Dr. Stone 3. Sezon Dr. Stone: New World Detayları</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Jump Festa 2023 etkinliğinde Dr. Stone 3. Sezon olan Dr. Stone: New World için yeni bir tanıtım videosu paylaşıldı.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews6.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/THK-VDKxvgI/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews6.html">Kengan Ashura Animesinin İkinci Sezonu Geliyor!</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Netflix, Yabako Sandrovich'in Kengan Ashura mangasının anime uyarlamasının ikinci sezonunun Eylül ayında Netflix'te yayınlanacağını duyurdu</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews7.html">
                    <img class="max-w-full w-full mx-auto" src="https://www.animeler.net/upload/media/entries/2023-04/10/6645-entry-0-1681080498.jpg" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews7.html">Record of Ragnarok II Animesi 3. Tanıtım Videosunu Yayınladı</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Record of Ragnarok II, diğer adıyla Shumatsu no Walküre, 2. sezon için 3. Tanıtım videosunu yayınladı.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- right -->
          <div class="flex-shrink max-w-full w-full lg:w-1/3 lg:pl-8 lg:pt-14 lg:pb-8 order-first lg:order-last">
            <div class="w-full bg-white">
              <div class="mb-6">
                <div class="p-4 bg-gray-100">
                  <h2 class="text-lg font-bold">En Populer Haberler</h2>
                </div>
                <ul class="post-number">
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MusicNews1.html">Foo Fighters, Dave Grohl'un Kızı Violet'in Olduğu Yeni Şarkıyı Yayınladı</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="TechNews1.html">Kullanıcılara Müjde: Google Play Games PC Türkiye'de erişime açıldı</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="AnimeNews1.html">Spy x Family Family 2. Sezon Ne zaman Gelecek?</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="GamingNews1.html">Naughty Dog Gecikmeyi Duyurdu</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews1.html">Ocak 2023’te açlık sınırı 8.782 TL, yoksulluk sınırı 30.379 TL!</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="text-sm py-6 sticky">
              <div class="w-full text-center">
                <a class="uppercase" href="#">Reklam</a>
                <a href="https://youtu.be/TMmDebW_OBI">
                  <img class="mx-auto" src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/306274562/original/d969c09d0b8f72b593f0914da5e247a84a54ca8f/design-mouth-watering-restaurant-food-menu-flyer-poster-brochure-fb-insta-ads.png" alt="advertisement area" width="450">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- block news -->
    <div class="bg-gray-50 py-6">
      <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
        <div class="flex flex-row flex-wrap">
          <!-- post -->
          <div class="flex-shrink max-w-full w-full lg:w-2/3 overflow-hidden">
            <div class="w-full py-3">
              <h2 class="text-gray-800 text-2xl font-bold">
                <span class="inline-block h-5 border-l-3 border-red-600 mr-2"></span>En Son Haberler
              </h2>
            </div>
            <div class="flex flex-row flex-wrap -mx-3">
              <div class="flex-shrink max-w-full w-full px-3 pb-5">
                <div class="relative hover-img max-h-98 overflow-hidden">
                  <!--thumbnail-->
                  <a href="MagazineNews1.html">
                    <img class="max-w-full w-full mx-auto h-auto" src="https://media-cdn.t24.com.tr/media/library/2020/05/1590573117980-bnmbmbnm.jpg" alt="Image description">
                  </a>
                  <div class="absolute px-5 pt-8 pb-5 bottom-0 w-full bg-gradient-cover">
                    <!--title-->
                    <a href="MagazineNews1.html">
                      <h2 class="text-3xl font-bold capitalize text-white mb-3">Ocak 2023’te açlık sınırı 8.782 TL, yoksulluk sınırı 30.379 TL</h2>
                    </a>
                    <p class="text-gray-100 hidden sm:inline-block">Sepetin üçte birinden fazlası süt ve süt ürünleri olarak hesaplandı</p>                                                  
                    <!-- author and date -->
                    <div class="pt-2">
                      <div class="text-gray-100"><div class="inline-block h-3 border-l-2 border-red-600 mr-2"></div>Magazin</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="MagazineNews2.html">
                    <img class="max-w-full w-full mx-auto" src="https://static.birgun.net/resim/haber-detay-resim/2022/06/03/tuketici-haklari-dernegi-aclik-ve-yoksulluk-siniri-nin-altinda-kalan-tuketici-oranini-acikladi-1024101-5.jpg" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="MagazineNews2.html">Türkiye'de 10 kişiden 8'inin alım gücü düştü</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Türkiye'de son bir ay düşünüldüğünde alım gücünüzde nasıl bir seyir görüldü sorunsuna alım gücünün azaldığını söyleyenler yüzde 81, aynı kaldı diyenler yüzde 13 oldu.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Magazin</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="MagazineNews3.html">
                    <img class="max-w-full w-full mx-auto" src="https://bankavitrini.com/wp-content/uploads/2022/10/istockphoto-841879832-612x612-1.jpg" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="MagazineNews3.html">Türkiye’de hukukun üstünlüğü geriliyor</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">2022 Hukukun Üstünlüğü Endeksi’ne göre dünya genelinde hukuk devletine bağlılık geriliyor. Bu yıl 140 ülke arasında 116’ncı sırada yer alan Türkiye, kendi bölgesinde sonuncu oldu.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Magazin</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="MagazineNews4.html">
                    <img class="max-w-full w-full mx-auto" src="https://ichef.bbci.co.uk/news/800/cpsprodpb/1D9B/production/_124397570_gettyimages-1233717611.jpg" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="MagazineNews4.html">Türkiye, basın özgürlüğü endeksinde 180 ülke arasında 149'uncu sırada yer aldı</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Dünya Basın Özgürlüğü Endeksi'nde Türkiye 2005 yılında 98'inci sırada yer alıyordu.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Magazin</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews2.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/VW_LxM4tt-o/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews2.html">The Rising of the Shield Hero Animesinin 3. Sezonunun Teaser'ı İlk Gösteriminin Ekim Ayında Yapılacağını Duyurdu</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Serinin resmi İngilizce Twitter hesabı videonun ingilizce altyazılı versiyonunu yayınladı ayrıca Crunchyroll'un seriyi Ekim ayında yayınlayacağı doğrulandı.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews3.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/XoXvsSuPqFw/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews3.html">Bleach Thousand Year Blood War Part 2 Ne Zaman Devam Edecek?</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">Bleach Thousand Year Blood War Part 2 tarihi daha Bleach Sennen Kessen-hen anime serisinin partlara bölünerek karşımıza çıkacağı açıklamasından beri merak ediliyordu.</p>
                    <a class="text-gray-500" href="#"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/3 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
                <div class="flex flex-row sm:block hover-img">
                  <a href="AnimeNews4.html">
                    <img class="max-w-full w-full mx-auto" src="https://i.ytimg.com/vi_webp/DQp71pChp4s/maxresdefault.webp" alt="alt title">
                  </a>
                  <div class="py-0 sm:py-3 pl-3 sm:pl-0">
                    <h3 class="text-lg font-bold leading-tight mb-2">
                      <a href="AnimeNews4.html">My Hero Academia Animesi Romi Park İle 7. Sezonuna Kavuşuyor</a>
                    </h3>
                    <p class="hidden md:block text-gray-600 leading-tight mb-1">My Hero Academia animesinin 6. sezonu, 7. sezonun yapımına yeşil ışık verildiğini duyuran bir fragmanla cumartesi günü sona erdi.</p>
                    <a class="text-gray-500" href="AnimeNews4.html"><span class="inline-block h-3 border-l-2 border-red-600 mr-2"></span>Anime</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar -->
          <div class="flex-shrink max-w-full w-full lg:w-1/3 lg:pr-8 lg:pt-14 lg:pb-8 order-first">
            <div class="w-full bg-white">
              <div class="mb-6">
                <div class="p-4 bg-gray-100">
                  <h2 class="text-lg font-bold">Gündem</h2>
                </div>
                <ul class="post-number">
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews1.html">Ocak 2023’te açlık sınırı 8.782 TL, yoksulluk sınırı 30.379 TL!</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews2.html">Türkiye'de 10 kişiden 8'inin alım gücü düştü</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews3.html">Türkiye’de hukukun üstünlüğü geriliyor</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="MagazineNews4.html">Türkiye, basın özgürlüğü endeksinde 180 ülke arasında 149'uncu sırada yer aldı</a>
                  </li>
                  <li class="border-b border-gray-100 hover:bg-gray-50">
                    <a class="text-lg font-bold px-6 py-3 flex flex-row items-center" href="TechNews5.html">Teknolojide yeni dönem: Giyilebilir yapay zeka asistanı</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="text-sm py-6 sticky">
              <div class="w-full text-center">
                <a class="uppercase" href="#">Reklam</a>
                <a href="https://youtu.be/TMmDebW_OBI">
                  <img class="mx-auto" src="https://adsofbrands.net/images/commercial_origin/52457540fd76679d.jpg" alt="advertisement area">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main><!-- end main -->


{% endblock %}
